{% extends 'ILLDataCiteDOIBundle::base.html.twig' %}
{% block title %}DOI Administration{% endblock %}
{% block header %}DOI Administration{% endblock %}
{% block body %}
<div class="row-fluid">
	<div class="span12">
	    <h1>{{ doi.doi }}</h1>
	    <hr>
	    <ul class="breadcrumb">
                <li><a href="{{ path("ill_datacitedoi_dataset_index") }}">Datasets</a> <span class="divider">/</span></li>
		    <li class="active">{{ doi.doi }}</li>
	    </ul>
        <ul class="nav nav-tabs">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Details<b class="caret"></b></a>
                <ul class="dropdown-menu">
                     <li><a href="{{ path("ill_datacitedoi_dataset_view", { "id" : doi.id}) }}">View details</a></li>
                     <li><a href="{{ path("ill_datacitedoi_dataset_view", { "id" : doi.id}) }}">Edit details</a></li>
                </ul>
             </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metadata<b class="caret"></b></a>
                <ul class="dropdown-menu">
                     <li><a href="{{ path("ill_datacitedoi_metadata_view", { "id" : doi.id}) }}">View metadata</a></li>
                     <li><a href="{{ path("ill_datacitedoi_metadata_edit", { "id" : doi.id}) }}">Update metadata</a></li>
                     <li><a href="#">Mark metadata as inactive</a></li>
                     <li><a href="#myModal" id="xml" data-url="{{ path("ill_datacitedoi_metadata_view", { "id" : doi.id, "_format": "xml"}) }}">View XML</a></li>
                </ul>
             </li>
	    </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3 class="title">Details</h3>
		<table class="table table-striped metadata">
			<tbody>
				<tr>
					<td>Identifier</td><td>{{ doi.doi }}</td>
				</tr>
				<tr>
					<td>Created</td><td>{{ doi.created.format("d-m-Y h:i:s") }}</td>
				</tr>
				<tr>
					<td>Updated</td><td>{{ doi.updated ? doi.updated.format("d-m-Y h:i:s" ): "-" }}</td>
				</tr>
				<tr>
					<td>URL</td><td>{{ url }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
