{% extends 'ILLDataCiteDOIBundle::base.html.twig' %}
{% block title %}DOI Administration{% endblock %}
{% block header %}DOI Administration{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h1>{{ doi.doi }}</h1>
            <hr>
            <ul class="breadcrumb">
                <li><a href="#">DOIs</a> <span class="divider">/</span></li>
                <li><a href="{{ path("ill_datacitedoi_doi_view", { "id" : doi.id}) }}">{{ doi.doi }}</a> <span class="divider">/</span></li>
                 <li class="active">Metadata</li>
            </ul>
            <ul class="nav nav-tabs">
                <li><a href="{{ path("ill_datacitedoi_doi_view", { "id" : doi.id}) }}">Details</a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metadata<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                         <li><a href="{{ path("ill_datacitedoi_metadata_view", { "id" : doi.id}) }}">View metadata</a></li>
                         <li><a href="{{ path("ill_datacitedoi_metadata_edit", { "id" : doi.id}) }}">Update metadata</a></li>
                         <li><a href="#">Mark metadata as inactive</a></li>
                         <li><a href="#myModal" id="xml" data-url="{{ path("ill_datacitedoi_metadata_view", { "id" : doi.id, "_format": "xml"}) }}">View XML</a></li>
                    </ul>
                 </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <form action="{{ path('ill_datacitedoi_metadata_create') }}" data-bind="with: metadata" id="metadataForm" data-url="{{ path('ill_datacitedoi_metadata_view', { 'id' : doi.id , '_format': 'json' }) }}" class="form-horizontal" method="get">
                {% include 'ILLDataCiteDOIBundle:Metadata:form.html.twig' %}
            </form>
        </div>
        <div class="span3">
            <ul class="nav nav-list">
                <li class="nav-header">Help</li>
                <li>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut enim sem. Curabitur sagittis aliquam nisi, eu viverra dolor malesuada vitae. Proin consectetur, ligula ut pretium pulvinar, leo nibh vulputate purus, id luctus libero libero id magna. In eu porta turpis. Aenean gravida facilisis feugiat. In hac habitasse platea dictumst. In metus nibh, dapibus et egestas sit amet, convallis eu nisi. Ut vitae mi ac erat pretium porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida vulputate lorem. Nam nunc tortor, elementum id porta ac, ornare in leo. Pellentesque elementum cursus congue. Duis ultricies, risus sit amet congue venenatis, libero odio lobortis urna, a faucibus mauris lacus non massa.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% javascripts

        'bundles/illdatacitedoi/js/jquery.blockUI.js'
        'bundles/illdatacitedoi/js/knockout-2.2.1.js'
        'bundles/illdatacitedoi/js/knockout.validation.js'
        'bundles/illdatacitedoi/js/metadata/create.js'
%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}
