{% extends 'ILLDataCiteDOIBundle::base.html.twig' %}
{% block title %}DOI Administration{% endblock %}
{% block header %}DOI Administration{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h1>{{ doi.doi }}</h1>
            <hr>
            <ul class="breadcrumb">
                <li><a href="#">DOIs</a> <span class="divider">/</span></li>
                <li><a href="{{ path("ill_datacitedoi_dataset_view", { "id" : doi.id}) }}">{{ doi.doi }}</a> <span class="divider">/</span></li>
                 <li class="active">Metadata</li>
            </ul>
            <ul class="nav nav-tabs">
                <li><a href="{{ path("ill_datacitedoi_dataset_view", { "id" : doi.id}) }}">Details</a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metadata<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                         <li><a href="{{ path("ill_datacitedoi_metadata_view", { "id" : doi.id}) }}">View metadata</a></li>
                         <li><a href="{{ path("ill_datacitedoi_metadata_edit", { "id" : doi.id}) }}">Update metadata</a></li>
                         <li><a href="#">Mark metadata as inactive</a></li>
                         <li><a href="#myModal" id="xml" data-url="{{ path("ill_datacitedoi_metadata_view", { "id" : doi.id, "_format": "xml"}) }}">View XML</a></li>
                    </ul>
                 </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <form action="{{ path('ill_datacitedoi_metadata_edit', { "id" : doi.id }) }}" data-config-url="{{ path('ill_datacitedoi_metadata_config')}}" data-bind="with: metadata" id="metadataForm" data-url="{{ path('ill_datacitedoi_metadata_view', { 'id' : doi.id , '_format': 'json' }) }}" class="form-horizontal" method="get">
                {% include 'ILLDataCiteDOIBundle:Metadata:form.html.twig' %}
            </form>
        </div>
        <div class="span3">
            <ul class="nav nav-list">
                <li class="nav-header">Help on updating metadata</li>
                <li>
                    <p>When updating metadata for a dataset, there are four <b>required</b> properties:</p>
                    <ol>
                        <li>At least one creator (with name identifier attributes)</li>
                        <li>At least one title (with optional type attribute)</li>
                        <li>Publisher</li>
                        <li>Publication year</li>
                    </ol>
                    <p><br>Although, there are are not many required properties, we urge you to try and add as much metadata as possible.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% javascripts

        'bundles/illdatacitedoi/js/jquery.blockUI.js'
        'bundles/illdatacitedoi/js/knockout-2.2.1.js'
        'bundles/illdatacitedoi/js/knockout.validation.js'
        'bundles/illdatacitedoi/js/metadata/create.js'
%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}
