{% extends 'ILLDataCiteDOIBundle::base.html.twig' %}
{% block title %}DOI Administration{% endblock %}
{% block header %}DOI Administration{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span12">
      <h1>All DOIs</h1>
      <hr>
      {% if dois %}
		<div class="alert alert-info">
			<p>You have <b>{{ dois | length}}</b> registered DOIs</p>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>DOI</th>
					<th>Created at</th>
					<th>Updated at</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for doi in dois %}
					<tr>
						<td>{{ doi.id }}</td>
						<td><a href="{{ path('ill_datacitedoi_doi_view', { 'id' : doi.id }) }}">{{ doi.doi }}</a></td>
						<td>{{ doi.created.format("d-m-Y")}}</td>
						<td>{{ doi.updated ? doi.updated.format("d-m-Y") : "-"}}</td>
						<td>    <div class="btn-group">
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
Action
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
             <li><a href="#">Update metadata</a></li>
              <li><a href="#">Mark metadata as inactive</a></li>
              <li><a href="#">Add media</a></li>    </ul>
</div></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
      {% else %}
      	<div class="alert alert-error">
      		<p>You do not have any DOIs registered</p>
  		</div>
      {% endif %}
    </div>
</div>
{% endblock %}
